mat-dialog-content {
  .icon {
    text-align: center;
    mat-icon {
      margin: 15px;
      color: red;
      width: 45px;
      height: 45px;
      font-size: 45px;
    }
  }
}

mat-dialog-actions {
  gap: 8px;
  justify-content: center;
  .mat-mdc-button-base + .mat-mdc-button-base {
    margin: 0;
  }
}
