<div class="listing-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="listing-header">
          <h1>Products</h1>
          <div class="listing-actions">
            <a routerLink="/products/add" mat-flat-button color="primary">Add Product</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <app-loading-spinner *ngIf="productsLoading && categoriesLoading"></app-loading-spinner>
        <div class="listing-filters" *ngIf="!productsLoading && !categoriesLoading">
          <form [formGroup]="filterForm">
            <div class="row">
              <div class="col-lg-6 col-xl-4">
                <app-form-group>
                  <app-input label="Filter by Name" [control]="title"></app-input>
                </app-form-group>
              </div>
              <div class="col-lg-6 col-xl-4">
                <app-form-group>
                  <app-select [multiple]="true" label="Filter by Category" [control]="category" [options]="categories">
                  </app-select>
                </app-form-group>
              </div>
            </div>
          </form>
        </div>
        <div class="listing-table" *ngIf="!productsLoading && !categoriesLoading">
          <table mat-table [dataSource]="filteredProducts">
            <ng-container matColumnDef="image">
              <th mat-header-cell width="107" *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element">
                <div class="thumb-wrapper">
                  <div class="thumb">
                    <img [src]="element.image" loading="lazy" width="50" height="50" [alt]="element.title"/>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element">
                {{ element.category.charAt(0).toUpperCase() + element.category.slice(1) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef>Rating</th>
              <td mat-cell *matCellDef="let element">
                {{ element.rating.rate }}/5
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">
                ${{ element.price }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a mat-menu-item [routerLink]="'/products/' + element.id">
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                  </a>
                  <a mat-menu-item [routerLink]="'/products/edit/' + element.id">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </a>
                  <button mat-menu-item (click)="openDeleteDialog(element.id, 'Are you sure that you want to delete this product?')">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
