app-header,
app-sidebar {
  display: block;
}

app-header {
  min-height: 48px;
}

app-sidebar {
  min-height: calc(100vh - 48px);
  width: 250px;
  position: fixed;
  left: 0;
  top: 48px;
  z-index: 200;
  @media (max-width: 768px) {
    display: none;
  }
}

body.show-sidebar {
  app-sidebar {
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.page {
  min-height: calc(100vh - 48px);
  padding-left: 250px;
  @media (max-width: 768px) {
    padding-left: 0;
  }
}
