<mat-sidenav mode="side" opened>
  <mat-nav-list>
    <a (click)="toggleSidebar()" mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon matListItemIcon>space_dashboard</mat-icon>
      Dashboard
    </a>
    <a (click)="toggleSidebar()" mat-list-item routerLink="/products" routerLinkActive="active">
      <mat-icon matListItemIcon>inventory</mat-icon>
      Products
    </a>
    <a (click)="toggleSidebar()" mat-list-item routerLink="/categories" routerLinkActive="active">
      <mat-icon matListItemIcon>category</mat-icon>
      Categories
    </a>
  </mat-nav-list>
</mat-sidenav>
